@media screen and (max-width: 1023px) {
  /* no content */
  html {
    background: url(assets/This\ page\ has\ been\ blocked\ by\ an\ extension\ image.png)
      no-repeat center;
    background-color: lightgray;
    background-attachment: fixed;
    place-items: center;
  }

  html:hover {
    background: url(assets/This\ page\ has\ been\ blocked\ by\ an\ extension\ image.png)
      no-repeat center;
    background-color: gainsboro;
    background-attachment: fixed;
  }

  body {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  /* header section */
  .header-block {
    width: 100%;
    grid-area: header;
    min-height: 10rem;
    display: flex;
    justify-content: space-between;
    padding: 1.6% 1.5%;
    position: fixed;
    background: #f9f7f3;
    z-index: 10;
    @media screen and (min-width: 1200px) {
      padding: 1.6% 4.5%;
    }
  }

  .header__logo-block {
    display: flex;
    align-items: center;
    flex-basis: 20%;
  }

  .header__logo {
    height: 2.7rem;
    @media screen and (min-width: 1024px) and (max-width: 1090px) {
      height: 2rem;
    }
  }

  .header__primary-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (min-width: 1024px) {
      width: clamp(110%, 5vw, 120%);
    }
  }

  .primary-nav__list {
    gap: 2rem;
    list-style-type: none;
    display: flex;
    @media screen and (min-width: 1024px) {
      gap: 1rem;
    }
  }

  .primary-nav__list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.3rem 0.9rem;
  }

  .re-use,
  .about {
    @media screen and (min-width: 1210px) {
      margin-left: clamp(1rem, 1.5vw, 8rem);
    }
  }

  .arrow-down {
    width: 20%;
    margin-left: 0.7rem;
  }

  .primary-nav__link {
    width: 100%;
    font-size: 1.6rem;
    font-weight: 400;
  }

  .header__button-block {
    flex-basis: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header__button {
    padding: 1.1rem 2rem;
    border: 0.18749em solid #000;
    border-radius: 15rem;
    font-size: 1.6rem;
    background: #f9f7f3;
  }

  .header__button2 {
    border: none;
    padding: 1.4rem 2.6rem;
    background: #000;
    font-size: 1.4rem;
    color: #f1f1f1;
    margin-left: 2rem;
    font-weight: bold;
  }

  .header__button1:hover {
    background: #000;
    color: #fff;
    transition: all 0.2s linear;
  }

  .header__button2:hover {
    background: #85343a;
    transition: all 0.2s linear;
  }

  /* main section */
  .main-block {
    grid-area: main;
  }

  /* main__hero-block  */
  .main__hero-block {
    width: 100%;
    min-height: 85vh;
    min-height: 85dvh;
    min-height: 85svh;
    padding: 0 5%;
    margin: 1rem 0 -1rem 0;
    position: relative;
  }

  .hero__text-block {
    min-height: 35rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .hero__text,
  .hero__text-carousel {
    font-size: 8.4rem;
    line-height: 1;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: -0.2rem;
  }

  .hero__text-carousel-block {
    width: 100%;
  }

  .hero__text-carousel {
    text-decoration: underline;
    text-decoration-thickness: 0.4rem;
    text-underline-offset: 0.7rem;
  }

  .icon-mug-block {
    display: inline-block;
    width: 12rem;
    min-height: 4rem;
    vertical-align: middle;
  }

  .icon-mug {
    width: 100%;
  }

  .hero__button-block {
    min-height: 12rem;
    width: 100%;
  }

  .hero__button {
    min-height: 10rem;
    width: 50%;
    display: flex;
    align-items: center;
  }

  .hero__btn {
    padding: 2.5rem 4rem;
    border: 0.13em solid #000;
    border-radius: 15rem;
    font-size: 2.2rem;
    background: #f9f7f3;
    transition: all 0.4s;
  }

  .hero__button1 {
    border: none;
    background: #85343a;
    color: #fff;
    margin-right: 1rem;
  }

  .hero__button1:hover {
    background: #000;
    transition: all 0.2s linear;
  }

  .hero__button2:hover {
    background: #000;
    color: #fff;
    transition: all 0.2s linear;
  }

  .hero__design-block {
    width: 20%;
    position: absolute;
    top: 75.5%;
    left: 60.5%;
    z-index: 9;
  }

  .hero__design {
    width: 100%;
  }

  /* hero__illustration-block */
  .hero__illustration-block {
    min-height: 50rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .hero__illustration {
    min-height: 80rem;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
  }

  .hero__illustration1 {
    min-height: 50rem;
    width: 70%;
    position: absolute;
    object-fit: cover;
  }

  .illustration1,
  .illustration2,
  .illustration3,
  .illustration4,
  .illustration5 {
    width: 100%;
  }

  .hero__illustration2 {
    width: 20%;
    position: absolute;
    top: 14%;
    bottom: 0%;
    right: 7%;
  }

  .hero__illustration3 {
    width: 34%;
    position: absolute;
    top: 56%;
    bottom: 0%;
    left: auto;
    right: 7%;
  }

  .hero__illustration4 {
    width: 25%;
    position: absolute;
    top: 60%;
    bottom: 0%;
    left: 7%;
  }

  .hero__illustration5 {
    width: 18%;
    position: absolute;
    top: 28.5%;
    bottom: 0%;
    left: 5.3%;
  }

  .hero__illustration-text-block {
    width: 100%;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero__illustration-text {
    font-size: 2.2rem;
    font-weight: 500;
  }

  .illustration-text__link-block {
    display: inline-flex;
  }

  .illustration-text__link {
    color: #105edd;
    text-decoration: underline;
    text-underline-offset: 0.2rem;
    -webkit-text-stroke-width: 0.07rem;
  }

  /* product overview*/
  .main__product-overview-block {
    min-height: 70rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 7rem;
  }

  .product-overview__title-block {
    min-height: 20rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
  }

  .product-overview__title {
    font-size: 5.8rem;
    font-weight: 500;
    line-height: 1.2;
  }

  .product-overview__content-block {
    min-height: 50rem;
    width: 100%;
    margin-bottom:-16rem
  }

  .product-overview__content {
    min-height: 45rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 6rem;
  }

  .product-overview__content-preview {
    flex-basis: 27%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4rem 1fr;
    gap: 2rem
  };

  .content-preview__info-block {
    display: grid; 
    grid-template-rows: 3rem 1fr;
    gap: 3rem;
  }

  .content-preview__info-title {
    font-size: 2.1rem;
    font-weight:500;
    margin-bottom:2rem;
  }

  .content-preview__info-text {
    font-size: 1.76rem;
  }

  .product-overview__text-block {
    min-height: 7rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .product-overview__text {
    font-size: 2.6rem;
    transition: all 0.2s;
    cursor: pointer;
  }

  .product-overview__text:hover {
    transform: translateX(-0.35rem);
    transition: 0.3s;
  }

  .product-overview__text-arrow-right {
    display: inline-flex;
    margin-left: 2rem;
    vertical-align: middle;
    width: 3rem;
    transition: all 0.2s;
    pointer-events: none;
  }

  .text-arrow-right {
    width: 100%;
  }

  .product-overview__text:hover .product-overview__text-arrow-right {
    transform: translateX(1rem);
    transition: 0.3s;
  }

  /* scroll tab */
  .main__scroll-tab-block {
    min-height: 100vh;
    width: 100%;
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: "left left left right right";
  }

  .main__scroll-tab {
    grid-area: left;
  }

  /* carousel */
  .scroll-tab__info-block {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 100%);
    grid-template-areas: "snap1 snap2 snap3 snap4 snap5";
    scroll-snap-type: x mandatory;
    overflow: auto;
  }

  .scroll-tab__info {
    min-width: 100%;
    scroll-snap-align: start;
    padding: 15vh 6rem 6rem;
  }

  .scroll-tab__snap1 {
    background: #e7d8c8;
    grid-area: snap1;
  }

  .scroll-tab__snap2 {
    background: #ffa0ea;
    grid-area: snap2;
  }

  .scroll-tab__snap3 {
    background: #ffc65b;
    grid-area: snap3;
  }

  .scroll-tab__snap4 {
    background: #f25d5d;
    grid-area: snap4;
  }

  .scroll-tab__snap5 {
    background: #d0dcdc;
    grid-area: snap5;
  }

  .scroll-tap__info-text {
    font-size: 6.5rem;
    font-weight: 500;
    line-height: 1.3;
  }

  .main__scroll-tab-image-block {
    display: grid;
    place-items: center;
    grid-area: right;
  }

  .main__scroll-tab-image {
    width: 40rem;
  }

  .scroll-tab-image {
    width: 100%;
  }

  /* benefits */
  .main__benefits-block {
    min-height: 40rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 6%;
    margin-top: 5rem;
  }

  .benefits__title-block {
    width: 100%;
    min-height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6rem;
  }

  .benefits__title {
    font-size: 5.5rem;
    font-weight: 500;
    line-height: 1.3;
  }

  .main__benefits-preview-block {
    width: 100%;
    display: flex;
    gap: 7rem;
  }

  .benefits__preview-block {
    flex-basis: 32%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .benefits__preview-image-block {
    min-height: 30rem;
    width: 100%;
    display: grid;
    place-items: center;
  }

  .benefits__preview-image-container {
    height: 80%;
    width: 25rem;
  }

  .benefits__preview-image {
    width: 100%;
  }

  .benefits__preview-info-block {
    min-height: 56%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .preview-info__title-block {
    min-height: 8rem;
    margin-bottom: 3rem;
  }

  .preview-info__title {
    font-size: 3rem;
  }

  .preview-info__text-block {
    width: 100%;
    display: flex;
    flex: 1;
  }

  .preview-info__text {
    font-size: 1.8rem;
  }

  .benefits__use-cases-text-block {
    margin-top: 8rem;
  }

  /*  quote  */
  .main__quote-block {
    min-height: 50rem;
    width: 100%;
    padding: 6%;
  }

  .main__quote-title-block {
    width: 100%;
    min-height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 12% 6rem;
  }

  .main__quote-title {
    font-size: 5.5rem;
    line-height: 1.3;
    text-align: center;
  }

  .quote__award-winner-block {
    min-height: 56rem;
    width: 100%;
    display: flex;
    gap: 10rem;
  }

  .award-winner__image-block {
    flex-basis: 50%;
    background: #ffa0ea;
    display: grid;
    place-items: center;
    border-radius: 13%;
    position: relative;
  }

  .award-winner__image-container {
    height: 78%;
    width: 39rem;
  }

  .award-winner__image,
  .award-winner__image2 {
    width: 100%;
  }

  .award-winner__image-container2 {
    width: 22rem;
    position: absolute;
    top: 2%;
    left: 1%;
  }

  .quote__award-winner-info-block {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }

  .award-winner__title-block {
    min-height: 20rem;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .award-winner-info__title {
    font-size: 6rem;
    line-height: 1.1;
  }

  .award-winner-info__text-block {
    min-height: 10rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .award-winner-info__text {
    font-size: 2.2rem;
  }

  .award-winner__link-text-block {
    min-height: 10rem;
    justify-content: start;
  }

  .award-winner__link-text {
    font-size: 2.5rem;
  }

  /* Organizations */
  .main__orgs-block {
    min-height: 50rem;
    width: 100%;
  }

  .main__orgs-text-block {
    width: 100%;
    min-height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2% 15%;
  }

  .main__orgs-text {
    font-size: 5.5rem;
    font-weight: 500;
    line-height: 1.3;
    text-align: center;
  }

  .main__orgs-logo-block {
    width: 100%;
    height: 26rem;
    display: flex;
    align-items: center;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    overflow: auto;
    gap: 3rem;
  }

  .main__orgs-logo-container-block {
    min-width: 24rem;
    height: 17rem;
    scroll-snap-align: start;
    border-radius: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main__orgs-logo-container {
    width: 70%;
    height: 70%;
  }

  .main__orgs-logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .main__orgs-logo-container-block1,
  .main__orgs-logo-container-block5,
  .main__orgs-logo-container-block9,
  .main__orgs-logo-container-block13,
  .main__orgs-logo-container-block17,
  .main__orgs-logo-container-block21,
  .main__orgs-logo-container-block25 {
    background: #f25d5d;
  }

  .main__orgs-logo-container-block2,
  .main__orgs-logo-container-block6,
  .main__orgs-logo-container-block10,
  .main__orgs-logo-container-block14,
  .main__orgs-logo-container-block18,
  .main__orgs-logo-container-block22,
  .main__orgs-logo-container-block26 {
    background: #e7d8c8;
  }

  .main__orgs-logo-container-block3,
  .main__orgs-logo-container-block7,
  .main__orgs-logo-container-block11,
  .main__orgs-logo-container-block15,
  .main__orgs-logo-container-block19,
  .main__orgs-logo-container-block23 {
    background: #bbb809;
  }

  .main__orgs-logo-container-block4,
  .main__orgs-logo-container-block8,
  .main__orgs-logo-container-block12,
  .main__orgs-logo-container-block16,
  .main__orgs-logo-container-block20,
  .main__orgs-logo-container-block24 {
    background: #d0dcdc;
  }

  .main__strip-block {
    min-height: 50rem;
    width: 100%;
    margin-top: 15rem;
  }

  .main__strip-text-block {
    width: 100%;
    min-height: 10rem;
    padding: 0 6%;
  }

  .main__strip-text {
    font-size: 8.8rem;
    font-weight: 500;
    line-height: 1.3;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -0.2rem;
  }

  .main__strip-button-block {
    min-height: 20rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
  }

  .strip-text__flower-icon-block {
    display: inline-block;
    width: 8rem;
    min-height: 10rem;
    vertical-align: bottom;
  }

  .strip-text__flower-icon {
    width: 100%;
  }

  /* footer */
  .footer__info-block {
    grid-area: footer;
    min-height: 60rem;
    display: flex;
    margin-top: 13rem;
  }

  /* footer__info-boxa */
  .footer__info-boxa {
    flex-basis: 33%;
    background: #e7d8c8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4% 2% 1%;
  }

  .info-boxa__image-container1-block {
    width: 92%;
    min-height: 15rem;
    display: flex;
    flex-direction: column;
    gap: 3.4rem;
    margin-bottom: 2rem;
  }

  .image-container1__block1 {
    max-width: 90%;
    min-height: 6rem;
    display: grid;
    place-items: center;
  }

  .image-container1__img-block1 {
    min-width: clamp(100%, 1.2vw, 80%);
    height: 60%;
    display: flex;
  }

  .image-container1__img1 {
    max-width: 100%;
  }

  .image-container1__block2 {
    width: 74%;
    min-height: 6rem;
  }

  .image-container1__img-block2 {
    width: 100%;
    min-height: 100%;
    display: grid;
    place-content: center;
  }

  .image-container1__img2 {
    max-width: 100%;
  }

  .info-boxa__image-container2-block {
    min-height: 15rem;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 3rem;
  }

  .image-container2__block1,
  .image-container2__block2 {
    flex-basis: 43%;
    display: grid;
    place-items: center;
  }

  .image-container2__img-block {
    max-height: 100%;
    max-width: 100%;
    display: grid;
    place-content: center;
  }

  .image-container2__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .info-boxa__container3-block {
    min-height: 10rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 2.5rem;
    gap: 0.5rem;
  }

  .info-boxa__container3-social-block {
    width: 100%;
    min-height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
  }

  .info-boxa__container3-social-link {
    width: 4rem;
    height: 4rem;
    border-radius: 3rem;
  }

  .info-boxa__container3-social-icon {
    width: 100%;
    height: 100%;
  }

  .info-boxa__container3-info-block {
    min-height: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-top: 1rem;
  }

  .info-boxa__container3-info-link:hover {
    text-decoration: underline;
  }

  .info-boxa__container3-rights-block {
    min-height: 7rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .info-boxa__container3-rights {
    font-size: 1.6rem;
  }

  /* footer__info-boxb */
  .footer__info-boxb {
    flex-basis: 67%;
    background: #85343a;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7rem;
    padding: 7% 5% 0;
  }

  .info-boxb__link-block {
    width: 100%;
    min-height: 15em;
    display: flex;
    justify-content: space-around;
  }

  .info-boxb__link-list {
    list-style: none;
    width: 100%;
    transition: all 0.3s;
  }

  .info-boxb__link-item {
    padding: 0.8rem 0rem;
  }

  .info-boxb__link {
    color: #fff;
    width: 100%;
    font-size: 1.6rem;
  }

  .info-boxb__link:not(.link-title):hover {
    text-decoration: underline;
    transition: 0.3s;
    color: #e7d8c8;
  }

  .link-title {
    font-size: 2rem;
    width: 100%;
  }

  /* info-boxb__button-block */
  .info-boxb__button-block {
    list-style: none;
    min-height: 10rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    align-items: center;
    justify-content: center;
  }

  .info-boxb__button {
    height: 70%;
    width: 100%;
    display: grid;
    grid-template-columns: 5rem 1fr;
    grid-template-rows: 5rem;
    place-content: center;
    border-radius: 1rem;
    background: #f9f7f3;
    gap: 0.5rem;
    padding: 4%;
  }

  .info-boxb__button-icon {
    width: 100%;
  }

  .info-boxb__button-text-block {
    display: flex;
    align-items: center;
    line-height: 1.2;
  }
}
