@media screen and (min-width: 1024px) {
  /* header section */
  .header-block {
    width: 100%;
    grid-area: header;
    min-height: 10rem;
    display: flex;
    justify-content: space-between;
    padding: 1.6% 1.5%;
    position: fixed;
    background: #f9f7f3;
    z-index: 10;
    @media screen and (min-width: 1200px) {
      padding: 1.6% 4.5%;
    }
  }

  .header__logo-block {
    display: flex;
    align-items: center;
    flex-basis: 20%;
  }

  .header__logo {
    height: 2.7rem;
    @media screen and (min-width: 1024px) and (max-width: 1090px) {
      height: 2rem;
    }
  }

  .header__primary-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (min-width: 1024px) {
      width: clamp(110%, 5vw, 120%);
    }
  }

  .primary-nav__list {
    gap: 2rem;
    list-style-type: none;
    display: flex;
    @media screen and (min-width: 1024px) {
      gap: 1rem;
    }
  }

  .primary-nav__list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.3rem 0.9rem;
  }

  .re-use,
  .about {
    @media screen and (min-width: 1210px) {
      margin-left: clamp(1rem, 1.5vw, 8rem);
    }
  }

  .arrow-down {
    width: 20%;
    margin-left: 0.7rem;
  }

  .primary-nav__link {
    width: 100%;
    font-size: 1.6rem;
    font-weight: 400;
  }

  .header__button-block {
    flex-basis: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header__button {
    padding: 1.1rem 2rem;
    border: 0.18749em solid #000;
    border-radius: 15rem;
    font-size: 1.6rem;
    background: #f9f7f3;
  }

  .header__button2 {
    border: none;
    padding: 1.4rem 2.6rem;
    background: #000;
    font-size: 1.4rem;
    color: #f1f1f1;
    margin-left: 2rem;
    font-weight: bold;
  }

  .header__button1:hover {
    background: #000;
    color: #fff;
    transition: all 0.2s linear;
  }

  .header__button2:hover {
    background: #85343a;
    transition: all 0.2s linear;
  }

  /* main section */
  .main-block {
    grid-area: main;
  }

  .main__hero-block {
    width: 100%;
    min-height: 85vh;
    min-height: 85dvh;
    min-height: 85svh;
    padding: 0 5%;
    margin-top: 1rem;
  }

  .hero__text-block {
    min-height: 35rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2rem;
  }

  .hero__text,
  .hero__text-carousle {
    font-size: 8.8rem;
    line-height: 1;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: -0.2rem;
  }

  .hero__text-carousle-block {
    width: 100%;
  }

  .hero__text-carousle {
    text-decoration: underline;
    text-decoration-thickness: 0.4rem;
    text-underline-offset: 0.7rem;
  }

  .icon-mug-block {
    display: inline-block;
    width: 12rem;
    min-height: 4rem;
    vertical-align: middle;
  }

  .icon-mug {
    width: 100%;
  }

  .hero__button-block {
    min-height: 20rem;
    width: 100%;
  }

  .hero__button {
    min-height: 15rem;
    width: 50%;
    display: flex;
    align-items: center;
  }

  .hero__btn {
    padding: 2.5rem 4rem;
    border: 0.13em solid #000;
    border-radius: 15rem;
    font-size: 2.2rem;
    background: #f9f7f3;
    transition: all 0.4s;
  }

  .hero__button1 {
    border: none;
    background: #85343a;
    color: #fff;
    margin-right: 1rem;
  }

  .hero__button1:hover {
    background: #000;
    transition: all 0.2s linear;
  }

  .hero__button2:hover {
    background: #000;
    color: #fff;
    transition: all 0.2s linear;
  }
}
